body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: wheat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-container {
    text-align: center;
    padding: 20px;
    background-color: azure;
    border-radius: 5px;
}

.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.profile-header h1 {
    color: #333;
}

.profile-header p {
    color: #666;
}

.profile-details,
.profile-courses {
    margin-top: 20px;
}

.profile-details h2,
.profile-courses h2 {
    color: #333;
}

.profile-details ul,
.profile-courses ul {
    list-style: none;
    padding: 0;
}

.profile-details li,
.profile-courses li {
    color: #666;
    margin-top: 5px;
}

.profile-courses a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease;
}

.profile-courses a:hover {
    color: #2980b9;
}
