body{
    font-family: Arial, sans-serif;
    background-color: black;
}

h1{
    color: wheat
}

h1:hover{
    color:orange
}

a{
    text-decoration: none;
    color: yellowgreen;
    margin-right: 20px;
}

a:hover {
    color:yellow
}